*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background: blue;
}

/* Début Media queries */

@media screen and (min-width: 760px) and (max-width: 1600px){
    Body{
        background-color: blue;
        display: flex;
        width: auto;
    }
}

@media screen and (min-width: 410px) and (max-width:760px){
    body{
        background-color: green;
        display: flex;
        width: auto;
        
    }
    #sec3{
        position: absolute;
        top: 45rem;
        width: 100%;
    }
}
    
@media screen and (max-width:410px){
    body{
        background-color: red;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sec .titre{
        width: 1rem;
    }
    p{
        width: 27rem;
    }
    
}

/* Fin Média */

/* début des div */

.sec{
    padding: 2rem;
    font-size: 2rem;
    width: 50rem;
    text-align: justify;
}
.titre{
    
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
}
